body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ebebeb; /* gris Mercado Libre */
}

/* ===== HERO / BANNER ===== */

.banner {
    background: linear-gradient(135deg, #ffe600, #ffd000);
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

/* efecto visual tipo ML */

.banner::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(255,255,255,0.25);
    border-radius: 50%;
    top: -200px;
    right: -150px;
}

.banner::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    bottom: -180px;
    left: -120px;
}

.banner-overlay {
    text-align: center;
    width: 100%;
    z-index: 2;
}

/* TITULO PROTAGONISTA */

.banner h1 {
    font-size: 56px;
    margin: 0 0 25px 0;
    color: #333;
    font-weight: bold;
}

/* ===== BUSCADOR PRINCIPAL ===== */

.search-main {
    background: white;
    width: 55%;
    margin: auto;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.search-main i {
    color: gray;
    font-size: 18px;
}

.search-main input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

/* ===== BUSCADOR SECUNDARIO ===== */

.search-bar {
    background: white;
    margin: 20px auto;
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
}

/* ===== PRODUCTOS ===== */

.products {
    display: flex;
    gap: 15px;
    padding: 10px 20px 30px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 12px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 15px;
    font-weight: normal;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 10px;
}

/* ===== TAGS ===== */

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 11px;
    color: white;
    font-weight: bold;
}

.tech { background: #3483fa; }
.beauty { background: #e91e63; }

/* ===== BOTÓN ===== */

button {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 6px;
    background: #3483fa;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #2968c8;
}

